:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    
    font-family: 'Quicksand', sans-serif;
    
    
  }

.align-items-sm-start {
    background: #ACD9B2 !important;
    height: 80rem;
    
}

.align-items-sm-start a {

    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.nav-pills .nav-link:hover {
  color: #ACD9B2;
  background-color: #e7fdea;
  
}

