
<div class="container-fluid">
    <div class="row flex-nowrap">
      
        <app-header class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 "></app-header>
  
        <div class="col py-3">
          <div class="container-nav-top">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
  
          </div>
          <div class="container container-title">
              <h1 class="">Estudiantes</h1>
          </div>
           
          <ngx-spinner 
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
          >
          <p style="font-size: 20px; color: white">{{textSpinner}}</p>
          </ngx-spinner>

          <div class="container">
            <table class="table  table-hover text-center table-bordered table-materia">
              <thead >
                <tr>
                  
                  <th scope="col">Id</th>
                  <th scope="col">Materia</th>
                  <th scope="col">Nombre Completo</th>
                  <th scope="col">Parcial 1</th>
                  <th scope="col">Parcial 1</th>
                  <th scope="col">Parcial 1</th>
                  <th scope="col">Examen</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let estudiante of estudiantes">
                  
                  <td>{{estudiante.id}}</td>
                  <td>{{estudiante.idMateria}}</td>
                  <td>{{estudiante.nombre}}</td>
                  <td>{{estudiante.notas[0]}}</td>
                  <td>{{estudiante.notas[1]}}</td>
                  <td>{{estudiante.notas[2]}}</td>
                  <td>{{estudiante.notas[3]}}</td>

                  <!-- <td><a [routerLink]="['/estudiante', materia.id]"  ><button class="btn btn-outline-success"><i class="fas fa-pen"></i></button></a></td> -->
                  
                </tr>
                
              </tbody>
            </table>
          </div>
         
            
        </div>
    </div>
  </div>
