<div class="container-fluid">
  <div class="row flex-nowrap">

    <app-header class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 "></app-header>

    <div class="col py-3">
      <div class="container-nav-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        </svg>

      </div>
      <div class="container container-title">
        <h1 class="">Estudiantes</h1>
      </div>

      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
      </ngx-spinner>

      <div class="container table-wrap">
        <table class="table  table-hover text-center table-bordered table-materia">
          <thead class="thead-primary">
            <tr>

              <th scope="col">Id</th>
              <th scope="col">Materia</th>
              <th scope="col">Nombre Completo</th>
              <th scope="col">P1</th>
              <th scope="col">P2</th>
              <th scope="col">P3</th>
              <th scope="col">Examen</th>
              <th scope="col">Definitiva</th>
              <th scope="col">Guardar</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estudiante of estudiantes">
              
                <td>{{estudiante.id}}</td>
                <td>{{estudiante.idMateria}}</td>
                <td>{{estudiante.nombre}}</td>
                <td>
                  <input type="number" name="" min="0" max="5" 
                  [(ngModel)]="estudiante.notas[0]"
                  style="border: none; background:#e2e2e2">
                </td>
                <td>
                  <input type="number" name="" min="0" max="5" 
                  [(ngModel)]="estudiante.notas[1]"
                  style="border: none; background:#e2e2e2">
                </td>
                <td>
                  <input type="number" name="" min="0" max="5" 
                  [(ngModel)]="estudiante.notas[2]"
                  style="border: none; background:#e2e2e2">
                </td>
                <td>
                  <input type="number" name="" min="0" max="5" 
                  [(ngModel)]="estudiante.notas[3]"
                  style="border: none; background:#e2e2e2">
                </td>
                <td>{{estudiante.notas[4]}}</td>
                <td><button type="submit" (click)="update(estudiante)" class="btn btn-outline-success"><i class="fas fa-save"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>