

<div class="container-fluid">
  <div class="row flex-nowrap">
    
      <app-header class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 "></app-header>

      <div class="col py-3">
        <div class="container-nav-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </div>
        <div class="container container-title">
            <h1 class="">Materias</h1>
        </div>
         
        <ngx-spinner 
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
        >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
        </ngx-spinner>
        <table class="table  table-hover text-center table-striped table-materia">
            <thead >
              <tr>
                
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Notas</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materias">
                
                <td>{{materia.id}}</td>
                <td>{{materia.nombreMateria}}</td>
                <td><a [routerLink]="['/estudiante', materia.id]"  ><button class="btn btn-outline-success"><i class="fas fa-pen"></i></button></a></td>
                <td>
                  <a>
                    <button type="button" class="btn border delete btn-outline-ranger" (click)="eliminarMateria(materia.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </a>
                </td>
              </tr>
              
            </tbody>
          </table>
          <button type="button" class="btn btn-success" style="color:#fff; text-decoration: none;" (click)="openModal()">Agregar Materia</button>
      </div>
  </div>
</div>
