

<div class="container-fluid">
  <div class="row flex-nowrap">
    
      <app-header class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 "></app-header>

      <div class="col py-3">
        <div class="container-nav-top">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg>
        </div>
        <div class="container container-title">
            <h1 class="">Materias</h1>
        </div>
         
        <ngx-spinner 
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
        >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
        </ngx-spinner>
       
        <div class="container table-wrap">
          <div class="button-addMateria">
            <button type="button " class="btn btn-success" style="color:#fff; text-decoration: none;" (click)="openModal()">Agregar Materia</button>
          </div>
          
          <table class="table  table-hover text-center table-bordered table-materia">
            <thead class="thead-primary">
              <tr>
                
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Notas</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materias">
                
                <td>{{materia.id}}</td>
                <td>{{materia.nombreMateria}}</td>
                <td><a [routerLink]="['/estudiante', materia.id]"  ><button class="btn btn-outline-success"><i class="fas fa-pen"></i></button></a></td>
              </tr>
              
            </tbody>
          </table>
          
        </div>
        
       
          
      </div>

      
  </div>
</div>
